# ==============================
# IntelliJ IDEA / JetBrains
# ==============================
.idea/
out/
*.iml

# ==============================
# Kotlin
# ==============================
.kotlin

# ==============================
# MacOS (si usas Mac)
# ==============================
.DS_Store

# ==============================
# Logs y temporales
# ==============================
*.log
